#demo {
    margin-top: 103px;
    margin-left: 20vw;
    margin-right: 20vw;

}

.carousel-item {
    max-height: 50vh;
}

@media only screen and (max-width: 600px) {
    #demo {
        margin-top: 63px;
        margin-left: 0;
        margin-right: 0;
    }
}