<!-- <div id="gallery-banner">
  <div>
    <p class="galeria-title">Galeria</p>
  </div>
</div> -->
<div id="gallery-banner" class="w3-container w3-content w3-padding-64">
    <h2 class="w3-wide w3-center galeria-title">GALERIA</h2>
    <!-- <p class="w3-opacity w3-center"><i>Para todas sus necesidades!</i></p><br> -->
</div>

<div id="container">
  <!-- Each image is 350px by 233px -->
  <div class="photobanner">
    <img class="first gallery-img" src="https://drive.google.com/uc?export=view&id=1Qts2SvKKQY7Z1xaHPvGszDnQWPoTlor5" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=1X6dTODwMV7z-Fm9TYf7pV50T-oEk3Cm8" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=1yXc-urzOB74xRShDR16TNFwln4gcgM7R" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=1dn1PeIrVddl9O_jkiGhU7YfA-BpdJrL2" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=12kxauXYTShpFUL0z2v7pDsGqJcLvgnBv" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=138CY6my7zdL2fDrQ_NfzEj82TYJgjM2E" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=14P01zltDbCWXlORPN1NbsPP5JlWJajPW" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=1F2THjnQusnTN_UNNovBK2imxdgroIG7d" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=1h7X6BMs5mkJVocwykcBidUOlw9cJz6CJ" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=1rENYtjopyhKQ2fZqKRLzmM9xUqI5Gjai" alt="" rel="noopener"/>
  </div>
</div>

<hr>