#gallery-banner {
    /* background-color: blue; */
    height: 20vh;
    width: 100%;
    /* overflow: hidden; */
    /* position: relative; */

    
    text-align: center;
    background-image: url(https://drive.google.com/uc?export=view&id=17h8FuXexjtEoeXjddDCp9wv4yNg-SCWB);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.galeria-title {
    font-weight: 700;
    color: white;
}

#scroll {
    width: 98vw;
    height: 400px;
    margin: 80px auto;
    overflow: auto;
    white-space: nowrap;

}

.gallery-img {
    height: 400px;
    width: 400px;
    margin: 0px 1px 0px 1px
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */

@media only screen and (max-device-width: 700px) {
    #gallery-banner {
        background-attachment: scroll;
    }
}

#container {
    width: 80vw;
    height: 400px;
    overflow: hidden;
    margin: 50px auto;
    background: white;
}

.photobanner {
    overflow: hidden;
    height: 45vh;
    width: 3550px;
    margin-bottom: 0;
}

.photobanner img {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
/* 
.photobanner img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
} */

/*keyframe animations*/

.first {
    -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
    -ms-animation: bannermove 30s linear infinite;
    -o-animation: bannermove 30s linear infinite;
    animation: bannermove 30s linear infinite;
}

@keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }
}

@-moz-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }
}

@-webkit-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }
}

@-ms-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }
}

@-o-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }
}