<!-- <div id="gallery-banner">
  <div>
    <p class="galeria-title">Galeria</p>
  </div>
</div> -->
<div id="gallery-banner" class="w3-container w3-content w3-padding-64">
    <h2 class="w3-wide w3-center galeria-title">GALERIA</h2>
    <!-- <p class="w3-opacity w3-center"><i>Para todas sus necesidades!</i></p><br> -->
</div>

<div id="container">
  <!-- Each image is 350px by 233px -->
  <div class="photobanner">
    <img class="first gallery-img" src="hthttps://drive.google.com/uc?export=view&id=1r855ASJQ32dF8MztwkyNVjnvWceM6tEM" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=1vZjg4CCyCUXRo2zzwNHo4qNWwQL0JDCz" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=1ngPe-ePzZHgFC3XFLdi5HKe7nCkCbsF1" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=1QbppDMQ2NVKQz8odkznI9eoivBi_Jxuo" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=1cOGFkJxf2S6pzkoSrCJTxahupzEy0uEf" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=1pE-kRDvcPzp6BeAhQre23DF2JzPSNLNn" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=1PF3DEMusm1azJYoKp2ftpYmSXRZPOIsp" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=1Bncff9aghk8Fnepf2-ACmkPogvhn0eI_" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=1Bncff9aghk8Fnepf2-ACmkPogvhn0eI_" alt="" rel="noopener"/>
    <img class="gallery-img" src="https://drive.google.com/uc?export=view&id=1g5J4lsMyovdVrHh95jAokA1QpyFyX7KD" alt="" rel="noopener"/>
  </div>
</div>

<hr>