<!-- <div id="gallery-banner">
  <div>
    <p class="galeria-title">Galeria</p>
  </div>
</div> -->
<div id="gallery-banner" class="w3-container w3-content w3-padding-64" style="max-width: 99vw;margin-top: -45px;">
    <h2 class="w3-wide w3-center galeria-title">GALERIA</h2>
    <!-- <p class="w3-opacity w3-center"><i>Para todas sus necesidades!</i></p><br> -->
</div>

<div id="container">
  <!-- Each image is 350px by 233px -->
  <div class="photobanner">
    <img class="first gallery-img" src="https://i.imgur.com/9PbdbKv.jpg" alt="" />
    <img class="gallery-img" src="https://i.imgur.com/O0Z7IwT.jpg" alt="" />
    <img class="gallery-img" src="https://i.imgur.com/PxUOprm.jpg" alt="" />
    <img class="gallery-img" src="https://i.imgur.com/JyioDpp.jpg" alt="" />
    <img class="gallery-img" src="https://i.imgur.com/27TzEsc.jpg" alt="" />
    <img class="gallery-img" src="https://i.imgur.com/MGXfKL4.jpg" alt="" />
    <img class="gallery-img" src="https://i.imgur.com/LSEVMGu.jpg" alt="" />
    <img class="gallery-img" src="https://i.imgur.com/aUl4oan.jpg" alt="" />
    <img class="gallery-img" src="https://i.imgur.com/66HYs4x.jpg" alt="" />
    <img class="gallery-img" src="https://i.imgur.com/6jkrwIo.jpg" alt="" />
  </div>
</div>

<hr>