<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px;margin-top:-60px;" id="band">
  <h2 class="w3-wide">ISRAELI TACTICAL SCHOOL</h2>
  <p class="w3-opacity"><i>Counter Terror Academy</i></p>
  <p class="w3-justify">Israeli Tactical School es una académica mundial élite en protección y anti-terrorismo, que
    opera en 14 países de Europa, Asía, Norteamérica y Sudamérica. Trabajamos con unidades especiales y asesoramos en
    protección. Nuestros programas son desarrollados por instructores del servicios secreto Shin Bet, Mossad, Israel
    Navy Seals y fuerza delta de Israel.
    Entrenamos desde principiantes hasta profesionales experimentados.
  </p>
  <div class="w3-row w3-padding-32">
    <div class="w3-half" onclick="document.getElementById('inst1modal').style.display='block'">
      <h3>Gian Carlo Loffredo</h3>
      <p>Instructor</p>
      <picture>
        <source srcset="https://i.imgur.com/3y7MJi2.jpeg" type="image/jpeg">
        <img src="https://i.imgur.com/3y7MJi2.jpeg" class="w3-round w3-margin-bottom" alt="Instructor GianCarlo picture"
          style="width:40%;" rel="noopener">
      </picture>

    </div>
    <div class="w3-half" onclick="document.getElementById('inst2modal').style.display='block'">
      <h3>Tomer Israeli</h3>
      <p>Instructor</p>
      <picture>
        <source srcset="https://i.imgur.com/HpJ6kII.jpeg" type="image/jpeg">
        <img src="https://i.imgur.com/HpJ6kII.jpeg" class="w3-round w3-margin-bottom" alt="Instructor Tomer picture"
          style="width:40%;" rel="noopener">
      </picture>
    </div>
  </div>
</div>


<!-- Instructor #1 Modal -->


<div id="inst1modal" class="w3-modal">
  <div class="w3-modal-content w3-animate-top w3-card-4">

    <div class="w3-row">
      <div class="w3-col s12 m6 l6" style="max-height: 300px;overflow: hidden;">
        <picture>
          <source srcset="https://drive.google.com/uc?export=view&id=1bwellEmW860SyQSL_PTQFaVaQR7I7YsP" type="image/webp">
          <source srcset="https://i.imgur.com/3y7MJi2.jpeg" type="image/jpeg">
          <img src="https://i.imgur.com/3y7MJi2.jpeg" style="width:100%;height:auto;" alt="Instructor GianCarlo picture"
            rel="noopener">

        </picture>
      </div>
      <div class="w3-col s12 m6 l6 w3-margin-bottom" style="padding-left: 10px;">
        <h5><b>Gian Carlo Loffredo</b></h5>
        <ul>
          <li>
            Instructor contra terrorismo nivel 5 - Israel Tactical School.
          </li>
          <li>
            Cuenta con 23 años de experiencia.
          </li>
          <li>
            Cinturón negro (tercer grado) en Kenpo.
          </li>
          <li>
            Instructor certificado de Krav Maga civil, policial y militar.
          </li>
          <li>
            Profesor Universitario
          </li>
          <li>
            Instructor certificado por la NRA en pistola, protección del hogar y prevención del crimen
          </li>
          <li>
            Latin America Coordinator of Israeli Tactical School
          </li>
          <li>
            CEO de Tactical Group
          </li>
        </ul>
      </div>

    </div>
    <div class="w3-container" style="position:fixed;">
      <button class="w3-button w3-red w3-section" onclick="document.getElementById('inst1modal').style.display='none'">Cerrar
        <i class="fa fa-remove"></i></button>
    </div>
  </div>
</div>

<!-- Instructor #2 Modal -->


<div id="inst2modal" class="w3-modal">
  <div class="w3-modal-content w3-animate-top w3-card-4">

    <div class="w3-row">
      <div class="w3-col s12 m6 l6" style="max-height: 400px;overflow: hidden;">
        <picture>
          <source srcset="https://drive.google.com/uc?export=view&id=1NzpTpG3qPAn7XXHx_N2AUpquEZ84F42R" type="image/webp">
          <source srcset="https://i.imgur.com/HpJ6kII.jpeg" type="image/jpeg">
          <img src="https://i.imgur.com/HpJ6kII.jpeg" alt="Instructor Tomer picture" style="width:100%;height:auto;" rel="noopener">
        </picture>

      </div>
      <div class="w3-col s12 m6 l6 w3-margin-bottom" style="padding-left: 10px;">
        <h5><b>TOMER ISRAELI</b></h5>
        <ul>
          <li>
            Cuenta con mas de 23 años de experiencia de
            campo.
          </li>
          <li>
            Oficial “Shin- Bet “, servicio secreto Israelí.
          </li>
          <li>
            Sirvió en la embajada de Israel en Washington D.C. como agente especial líder de equipo.
          </li>
          <li>
            Campo de acción: antiterrorismo y autodefensa.
          </li>
          <li>
            Ex capitán de las Fuerzas Especiales del Ejército
            israelí.
          </li>
          <li>
            CEO de Israeli Tactical School
          </li>
        </ul>
      </div>

    </div>
    <div class="w3-container" style="position:fixed;">
      <button class="w3-button w3-red w3-section" onclick="document.getElementById('inst2modal').style.display='none'">Cerrar
        <i class="fa fa-remove"></i></button>
    </div>
  </div>
</div>
