<!-- The Tour Section -->
<div class="w3-black" id="tour">
  <div class="w3-container w3-content w3-padding-64" style="max-width: 99vw;margin-top: -45px;">
    <h2 class="w3-wide w3-center">Productos</h2>
    <p class="w3-opacity w3-center"><i>para todas sus necesidades!</i></p><br>

    <!-- <ul class="w3-ul w3-border w3-white w3-text-grey">
      <li class="w3-padding">September <span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
      <li class="w3-padding">October <span class="w3-tag w3-red w3-margin-left">Sold out</span></li>
      <li class="w3-padding">November <span class="w3-badge w3-right w3-margin-right">3</span></li>
    </ul> -->

    <div class="w3-row-padding w3-padding-32">
      <div class="w3-col s12 m6 l4 w3-margin-bottom">
        <img src="https://i.imgur.com/fMaNjfx.jpg" alt="New York" style="width:100%">
        <div class="product w3-container w3-white">
          <p><b>TACTICAL SHOOTING</b></p>
          <p>El programa TAC es reconocido a nivel mundial como uno de los sistemas más efectivo en
            combate. Las diferentes. etapas del programa están basadas en la doctrina del guerrero
            individual (IWD) del SERVICIO SECRETO DE ISRAEL (SHINBET) Esta doctrina especial a sido
            probada por décadas en numerosos ataques terroristas, tiradores activos y atentados a
            VIP.</p>
          <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('prod1Modal').style.display='block'">More
            information...</button>
        </div>
      </div>
      <div class="w3-col s12 m6 l4 w3-margin-bottom">
        <img src="https://i.imgur.com/lQTeehy.jpg" alt="Paris" style="width:100%">
        <div class="product w3-container w3-white">
          <p><b>PROTECTION PROGRAM</b></p>
          <p>El objetivo principal de este curso es proveer a los alumnos con los conocimientos
            teóricos y habilidades prácticas para trabajar como un agente de protección
            cercana. Enfatizamos en entrenamiento con ejercicios de campo realistas y
            prácticos para proveer un completo entendimiento de las operaciones de
            protección. Basado en la metodología del SHIN-BET Y MOSSAD.</p>
          <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('prod2Modal').style.display='block'">More
            information...</button>
        </div>
      </div>
      <div class="w3-col s12 m12 l4 w3-margin-bottom">
        <img src="https://i.imgur.com/sn804ij.jpg" alt="San Francisco" style="width:100%">
        <div class="product-2 w3-container w3-white">
          <p><b>SELF DEFENSE</b></p>
          <p>Programa de fácil aprendizaje con técnicas probadas en combate. Dirigido a nivel
            global por instructores del servicio secreto de Israel. Sin rituales, uniformes o
            terminología director y preciso aprenderá habilidades que pueden salvar su vida.
            <br><br><br></p>
          <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('prod3Modal').style.display='block'">More
            information...</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- PROD1 Modal -->


<div id="prod1Modal" class="w3-modal">
  <div class="w3-modal-content w3-animate-top w3-card-4">
    <header class="w3-container w3-teal w3-center w3-padding-32">
      <span onclick="document.getElementById('prod1Modal').style.display='none'" class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
      <h2 class="w3-wide">PRODUCT NAME</h2>
    </header>
    <div class="w3-container">
      <button class="w3-button w3-red w3-section" onclick="document.getElementById('prod1Modal').style.display='none'">Close
        <i class="fa fa-remove"></i></button>
    </div>
  </div>
</div>

<!-- PROD2 Modal -->


<div id="prod2Modal" class="w3-modal">
  <div class="w3-modal-content w3-animate-top w3-card-4">
    <header class="w3-container w3-teal w3-center w3-padding-32">
      <span onclick="document.getElementById('prod2Modal').style.display='none'" class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
      <h2 class="w3-wide">PRODUCT NAME</h2>
    </header>
    <div class="w3-container">
      <button class="w3-button w3-red w3-section" onclick="document.getElementById('prod2Modal').style.display='none'">Close
        <i class="fa fa-remove"></i></button>
    </div>
  </div>
</div>

<!-- PROD3 Modal -->


<div id="prod3Modal" class="w3-modal">
  <div class="w3-modal-content w3-animate-top w3-card-4">
    <header class="w3-container w3-teal w3-center w3-padding-32">
      <span onclick="document.getElementById('prod3Modal').style.display='none'" class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
      <h2 class="w3-wide">PRODUCT NAME</h2>
    </header>
    <div class="w3-container">
      <button class="w3-button w3-red w3-section" onclick="document.getElementById('prod3Modal').style.display='none'">Close
        <i class="fa fa-remove"></i></button>
    </div>
  </div>
</div>