<!-- The Band Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px;margin-top:-60px;" id="band">
  <h2 class="w3-wide">ISRAELI TACTICAL SCHOOL</h2>
  <p class="w3-opacity"><i>Counter Terror Academy</i></p>
  <p class="w3-justify">Israeli Tactical School es una académica mundial élite en protección y anti-terrorismo, que
    opera en 14 países de Europa, Asía, Norteamérica y Sudamérica. Trabajamos con unidades especiales y asesoramos en
    protección. Nuestros programas son desarrollados por instructores del servicios secreto Shin Bet, Mossad, Israel
    Navy Seals y fuerza delta de Israel.
    Entrenamos desde principiantes hasta profesionales experimentados.
  </p>
  <div class="w3-row w3-padding-32" onclick="document.getElementById('inst1modal').style.display='block'">
    <div class="w3-half">
      <h3>Gian Carlo Loffredo</h3>
      <p>Instructor</p>
      <img src="https://i.imgur.com/3y7MJi2.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:40%;">

    </div>
    <div class="w3-half">
      <h3>Tomer Israeli</h3>
      <p>Instructor</p>
      <img src="https://i.imgur.com/HpJ6kII.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:40%;">
    </div>
  </div>
</div>


<!-- Instructor #1 Modal -->


<div id="inst1modal" class="w3-modal">
  <div class="w3-modal-content w3-animate-top w3-card-4">

    <div class="w3-row w3-margin">
      <div class="w3-col s12 m6 l6 w3-margin-bottom">
        <h5><b>TAC 6- DOS AGENTES</b></h5>
        <ul>
          <li>
            Dos operativos combatiendo simultáneamente.
          </li>
          <li>
            Ejercicios en pareja con fuego real desde un vehículo y pasando a escenario urbano.
          </li>
          <li>
            Discriminación de blancos.
          </li>
          <li>
            Posicionamiento táctico.
          </li>
        </ul>
      </div>
      <div class="w3-col s12 m6 l6 w3-margin-bottom">
        <h5><b>TAC 7- UNIDADES ESPECIALES</b></h5>
        <ul>
          <li>
            Programa de entrenamiento para unidades especiales diseñados a la medida,
            de acuerdo a las necesidades y perfil de la misión específica de la unidad.
          </li>
          <li>
            Escenarios como buses, aviones, instalaciones sensitivas, operaciones
            aerotransportadas o anfibias.*
          </li>
        </ul>
        <!-- *Con instructores del SHIN-BET, SWAT, DELTA FORCE o SEALS Israeli. -->
      </div>

    </div>
    <div class="w3-container">
      <button class="w3-button w3-red w3-section" onclick="document.getElementById('inst1modal').style.display='none'">Close
        <i class="fa fa-remove"></i></button>
    </div>
  </div>
</div>