<!-- The Band Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
  <h2 class="w3-wide">ISRAELI TACTICAL SCHOOL</h2>
  <p class="w3-opacity"><i>Counter Terror Academy</i></p>
  <p class="w3-justify">Israeli Tactical School es una académica mundial élite en protección y anti-terrorismo, que
    opera en 14 países de Europa, Asía, Norteamérica y Sudamérica. Trabajamos con unidades especiales y asesoramos en
    protección. Nuestros programas son desarrollados por instructores del servicios secreto Shin Bet, Mossad, Israel
    Navy Seals y fuerza delta de Israel.
    Entrenamos desde principiantes hasta profesionales experimentados.
  </p>
  <div class="w3-row w3-padding-32">
    <div class="w3-half">
      <h3>Gian Carlo Loffredo</h3>
      <p>Instructor</p>
      <img src="https://i.imgur.com/3y7MJi2.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:40%;">

    </div>
    <div class="w3-half">
      <h3>Tomer Israeli</h3>
      <p>Instructor</p>
      <img src="https://i.imgur.com/HpJ6kII.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:40%;">
    </div>
  </div>
</div>