<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-card">
    <a class="w3-bar-item w3-padding-large w3-hide-large w3-right" onclick="myFunction()" title="Toggle Navigation Menu"><i
        class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><img class="mobile-logo" src="../../assets/desktop logo.svg"
        style="height: 50px;"></a>
    <a href="#carousel-home" class="w3-bar-item w3-padding-large  w3-hide-medium w3-hide-large mobile-bars"><img class="mobile-logo"
        src="../../assets/MOBILE LOGO ISRAEL TACTICAL.svg"></a>
    <!-- <a href="#contact" class="desk-item w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium w3-right">REQUERIMIENTOS</a> -->
    <!-- <a href="#contact" class="desk-item w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium w3-right">EVENTOS</a> -->
    <a href="#contact" class="desk-item w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium w3-right" onclick="document.getElementById('FaqModal').style.display='block'">PREGUNTAS FRECUENTAS</a>
    <a href="#contact" class="desk-item w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium w3-right">CONTACTANOS</a>
    <a href="#gallery-banner" class="desk-item w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium w3-right">GALERIA</a>
    <a href="#tour" class="desk-item w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium w3-right">PRODUCTOS</a>
    <a href="#band" class="desk-item w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium w3-right">NOSOTROS</a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-hide w3-hide-large w3-top" style="margin-top:63px;">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">NOSOTROS</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PRODUCTOS</a>
  <a href="#gallery-banner" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">GALERIA</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACTANOS</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="document.getElementById('FaqModal').style.display='block'; myFunction()">PREGUNTAS FRECUENTAS</a>
  <!-- <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">EVENTOS</a> -->
  <!-- <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">REQUERIMIENTOS</a> -->
</div>