<div id="FaqModal" class="w3-modal">
  <div class="w3-modal-content w3-animate-top w3-card-4">
    <header class="w3-container its-blue w3-center w3-padding-32">
      <span onclick="document.getElementById('FaqModal').style.display='none'" class="w3-button w3-hover-red its-blue w3-xlarge w3-display-topright">×</span>
      <h2 class="w3-wide">PREGUNTAS FRECUENTAS</h2>
    </header>


    <div class="w3-row w3-margin">
      <div class="w3-col s6 m6 l6 w3-margin-bottom">
        <h5><b>¿Cuáles son los requisitos para ingresar al curso?</b></h5>
        <ul>
          <li>
            Debes ser mayor de edad y no tener antecedentes penales
          </li>
        </ul>
      </div>
      <div class="w3-col s6 m6 l6 w3-margin-bottom">
        <h5><b>¿Necesito tener arma para participar en el curso?</b></h5>
        <ul>
          <li>
            No, no es necesario. Todo lo que necesitas para realizar el entrenamiento está incluido.
          </li>
        </ul>
      </div>
    </div>
    <div class="w3-row w3-margin">
      <div class="w3-col s6 m6 l6 w3-margin-bottom">
        <h5><b>¿Es necesario tener conocimientos previos?</b></h5>
        <ul>
          <li>
            No, todos nuestros cursos están diseñados para desde principiantes
          </li>
        </ul>
      </div>
      <div class="w3-col s6 m6 l6 w3-margin-bottom">
        <h5><b>¿Qué está incluido en el paquete?</b></h5>
        <ul>
          <li>
            Incluye munición, hidratación, refrigerios, camiseta y certificado internacional.
          </li>
        </ul>
      </div>
    </div>
    <div class="w3-row w3-margin">
      <div class="w3-col s6 m6 l6 w3-margin-bottom">
        <h5><b>¿Qué debo llevar el día del curso?</b></h5>
        <ul>
          <li>
            Debes llevar pantalón largo y fuerte (de preferencia cargo o jean), cinturón fuerte, zapatos deportivos,
            gorra, camiseta, gafas, protector solar.
            <br>
            <b>Equipo sugerido no indispensable:</b>
            <br>
            Arma propia, funda de cadera para pistola, porta alimentadora, protector de oídos
          </li>
        </ul>
      </div>
      <div class="w3-col s6 m6 l6 w3-margin-bottom">
        <h5><b>¿Cuáles son las formas de pego?</b></h5>
        <ul>
          <li>
            Debes cancelar un anticipo previo a la fecha de inicio del curso, y el saldo cancelarlo el día del curso
            previo al inicio en efectivo o tarjeta.
          </li>
        </ul>
      </div>
    </div>
    <div class="w3-row w3-margin">
      <div class="w3-col s6 m6 l6 w3-margin-bottom">
        <h5><b>¿Qué no debes llevar el día del curso?</b></h5>
        <ul>
          <li>
            por ningún motivo debes llevar municiones
          </li>
          <li>
            No debes llevar armas en mal estado o que no conozcas el estado en que se encuentran
          </li>
          <li>
            No llevar armas sin permiso o con permiso caducado
          </li>
        </ul>
      </div>
    </div>
    <div class="w3-container w3-content" style=" max-width:800px" id="contact">
      <p class="w3-center"><i><b>Si deseas llevar algún acompañante debes solicitar autorización previa</b></i></p>
    </div>
    <div class="w3-container">
      <button class="w3-button w3-red w3-section" onclick="document.getElementById('FaqModal').style.display='none'">Close
        <i class="fa fa-remove"></i></button>
    </div>
  </div>
</div>